<?xml version="1.0" encoding="UTF-8" ?>  
<!DOCTYPE log4j:configuration SYSTEM "log4j.dtd">
<log4j:configuration xmlns:log4j="http://jakarta.apache.org/log4j/">
	<!-- APPENDER -->
	<appender name="CONSOLE" class="org.apache.log4j.ConsoleAppender">
		<param name="Target" value="System.out" />
		<layout class="org.apache.log4j.PatternLayout">
			<param name="ConversionPattern" value="%d %X{traceId} %-5p:%L %c{2} - %m%n" />
		</layout>
	</appender>
	<appender name="ALL1" class="org.apache.log4j.DailyRollingFileAppender">
		<param name="file" value="../logs/all.log" />
		<param name="append" value="true" />
		<param name="encoding" value="UTF-8" />
		<param name="datePattern" value=".yyyy-MM-dd" />
		<layout class="org.apache.log4j.PatternLayout">
			<param name="ConversionPattern" value="%d %X{traceId} %-5p:%L %c{2} - %m%n" />
		</layout>
	</appender>
	<appender name="WEB" class="org.apache.log4j.DailyRollingFileAppender">
		<param name="file" value="../logs/web.log" />
		<param name="append" value="true" />
		<param name="encoding" value="UTF-8" />
		<layout class="org.apache.log4j.PatternLayout">
			<param name="ConversionPattern" value="%d %X{traceId} %-5p:%L %c{2} - %m%n" />
		</layout>
	</appender>
	<appender name="CORE" class="org.apache.log4j.DailyRollingFileAppender">
		<param name="file" value="../logs/core.log" />
		<param name="append" value="true" />
		<param name="encoding" value="UTF-8" />
		<layout class="org.apache.log4j.PatternLayout">
			<param name="ConversionPattern" value="%d %X{traceId} %-5p:%L %c{2} - %m%n" />
		</layout>
	</appender>
	<appender name="EXCEPTION_LOG" class="org.apache.log4j.DailyRollingFileAppender">
		<param name="Threshold" value="ERROR" />
		<param name="file" value="../logs/error.log" />
		<param name="append" value="true" />
		<param name="encoding" value="UTF-8" />
		<layout class="org.apache.log4j.PatternLayout">
			<param name="ConversionPattern" value="%d %X{traceId} %-5p:%L %c{2} - %m%n" />
		</layout>
	</appender>

	<!-- LOGGER -->
	<logger name="com.hk.appointment.service">
		<level value="DEBUG" />
		<appender-ref ref="WEB" />
		<appender-ref ref="EXCEPTION_LOG" />
	</logger>

	<logger name="com.hk.appointment.web">
		<level value="DEBUG" />
		<appender-ref ref="WEB" />
		<appender-ref ref="EXCEPTION_LOG" />
	</logger>
	<logger name="com.hk.appointment.core">
		<level value="DEBUG" />
		<appender-ref ref="CORE" />
		<appender-ref ref="EXCEPTION_LOG" />
	</logger>

	<root>
		<level value="DEBUG" />
		<appender-ref ref="ALL1" />
		<appender-ref ref="EXCEPTION_LOG" />
	</root>

</log4j:configuration>